*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.Header {
  top: 0;
  text-align: center;
}
.Qbox {
  border: solid 1px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  text-align: center;
  width: 500px;
  height: 300px;
  margin: 50px;
  background-color: burlywood;
}
.checkbox {
  justify-content: space-between;
}
.show__answer {
  margin: 20px;
  bottom: 0;

  border-radius: 10px;
}
.bookmark-button {
  position: relative;
  left: 230px;
  background: transparent;
  border: transparent;
  width: 50px;
  z-index: 20;
}

.crumbs {
  display: flex;
  justify-content: center;
  list-style: none;
}
